<div class="flex p-3 bg-slate-200 gap-4">
  <div>
    <%= inspect(@pid) %>
  </div>
  <div>
    <span class="font-bold">Memory</span> <%= @memory %> KB
  </div>
  <div>
    <span class="font-bold">Status</span> <%= @status %>
  </div>
</div>
