<div class="flex p-3 bg-slate-200 gap-4">
  <div>
    <span class="font-bold">PID</span> 2.3.3
  </div>
  <div>
    <span class="font-bold">Memory</span> 40 KB
  </div>
  <div>
    <span class="font-bold">Status</span> Active
  </div>
</div>
