<h1 class="mb-6 pb-2 text-2xl font-semibold text-gray-800 md:text-3xl border-b border-gray-300">
  Event Polls
</h1>

<div class="grid grid-cols-2 gap-4">
  <.poll_card :for={poll <- @polls} poll={poll} id={"poll-#{poll.id}"} />
</div>
