<div {@rest}>
  <div class="flex items-center justify-between">
    <%= render_slot(@location) %>
    <button phx-click="delete" phx-value-id={@poll.id}>
      <.icon name="hero-trash" class="opacity-0 group-hover:opacity-100" />
    </button>
  </div>
  <div class="mt-2">
    <%= render_slot(@name) %>

    <%= render_slot(@inner_block) %>
  </div>
</div>
